<nav>
    <div class="left">
        <img src="../../../assets/favicon/android-chrome-192x192.png" alt="">
        <h1>Sala de Juegos</h1>
    </div>
    <div class="right">
        <strong *ngIf="usuario.datos">Bienvenido, {{usuario.datos.nombre}}</strong>
        <button routerLink="">Home</button>
        <button routerLink="/quien-soy">Quien Soy</button>
        <button *ngIf="!usuario.datos" routerLink="/login">Login</button>
        <button *ngIf="!usuario.datos" routerLink="/registro">Registro</button>
        <button *ngIf="usuario.datos" (click)="cerrarSesion()">Cerrar Sesión</button>
    </div>
</nav>