<div class="about-me">
    <h2>Trabajo Practico Sala de Juegos</h2>
    <h3>Alumno: García Juan Manuel 4°B</h3>
    <div class="doble">
      <img src="../../../assets/quien-soy/no-ingeniero.jpg" alt="foto-creador-pagina">
      <div>
        <p><strong>Juego Elejido: Blackjack</strong></p>
        <p>Reglas:</p>
        <p>El objetivo del blackjack es tener una mano [suma de las cartas propias] sin pasarse de 21 y más alta que la mano de la maquina</p>
        <p>Valor de las cartas: las cartas del 2 al 10 valen lo que indica la carta, mientras que las figuras (J, Q, K) valen 10 puntos cada una. El As puede valer 1 u 11, dependiendo de lo que sea más conveniente para tu mano.</p>
        <p>Desarrollo: El jugador comienza recibiendo dos cartas boca arriba, mientras que la maquina recibe una carta boca arriba y otra boca abajo.</p>
        <p>Opciones del jugador: Después de recibir las dos cartas iniciales pueden:</p>
              <p>==> Pedir: Recibis una carta adicional. Podes pedir tantas cartas como quieras, siempre y cuando no te pasés de 21.</p>
              <p>==> Doblar: Duplicás la apuesta original, recibiís solo una carta adicional y te plantas automaticamente.</p>
              <p>==> Plantarse: No recibis más cartas y le toca el turno a la maquina
              <p>==> Rendirse: Si no te gusta tu mano inicial podes rendirte. Y en vez de perder el total de la apuesta, solo perdes la mitad.</p>
        <p>Turno de la Maquina: Después de terminar tu turno, se revela la segunda carta de la maquina. La misma sigue reglas predefinidas para pedir o plantarse. Si el valor de su mano es 16 o menos, debe pedir otra carta; si es 17 o más, debe plantarse.</p>
        <p>Comparación de manos: Al finalizar ambos turnos sin que ninguna parte de pasara de 21 se compara la mano de mayor valor y se decide el ganador. En caso de empate el jugador no pierde ni gana puntos.</p>
      </div>
    </div>
  </div>