    <div *ngIf="usuario.datos" class="puntaje-personal">
        <div>
            <h3>Puntaje de {{usuario.nombre}}</h3>
            <strong>Ahorcado: {{usuario.datos.puntajeMaxAhorcado}}</strong>
            <strong>Preguntados: {{usuario.datos.puntajeMaxPreguntados}}</strong>
            <strong>Mayor > Menor: {{usuario.datos.puntajeMaxMayorMenor}}</strong>
            <strong>Blackjack: {{usuario.datos.puntajeMaxBlackjack}}</strong>
        </div>
    </div>
    <div class="left">
        <div class="list-pair">
            <div class="list">
                <h3>Top Ahorcado</h3>
                <ul>
                    <li *ngFor="let item of topAhorcado; let i = index">
                        <p class="lista-texto-izquierda">
                            {{i + 1}}
                        </p>
                        <p class="lista-texto-centro">
                            {{item.nombre}}
                        </p>
                        <p class="lista-texto-derecha">
                            {{item.puntajeMaxAhorcado}}
                        </p>
                    </li>
                </ul>
            </div>
            <div class="list">
                <h3>Top Preguntados</h3>
                <ul>
                    <li *ngFor="let item of topPreguntados; let i = index">
                        <p class="lista-texto-izquierda">
                            {{i + 1}}
                        </p>
                        <p class="lista-texto-centro">
                            {{item.nombre}}
                        </p>
                        <p class="lista-texto-derecha">
                            {{item.puntajeMaxPreguntados}}
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="list-pair">
            <div class="list">
                <h3>Top Mayor > Menor</h3>
                <ul>
                    <li *ngFor="let item of topMayorMenor; let i = index">
                        <p class="lista-texto-izquierda">
                            {{i + 1}}
                        </p>
                        <p class="lista-texto-centro">
                            {{item.nombre}}
                        </p>
                        <p class="lista-texto-derecha">
                            {{item.puntajeMaxMayorMenor}}
                        </p>
                    </li>
                </ul>
            </div>
            <div class="list">
                <h3>Top Blackjack</h3>
                <ul>
                    <li *ngFor="let item of topBlackjack; let i = index">
                        <p class="lista-texto-izquierda">
                            {{i + 1}}
                        </p>
                        <p class="lista-texto-centro">
                            {{item.nombre}}
                        </p>
                        <p class="lista-texto-derecha">
                            {{item.puntajeMaxBlackjack}}
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="right">
        <button routerLink="/juegos/ahorcado">
            <img src="../../../assets/juegos/ahorcado.png" alt="">
            <p>Ahorcado</p>
        </button>
        <button routerLink="/juegos/preguntados">
            <img src="../../../assets/juegos/preguntados.png" alt="">
            <p>Preguntados</p>
        </button>
        <button routerLink="/juegos/mayor-menor">
            <img src="../../../assets/juegos/mayor-menor.png" alt="">
            <p>Mayor > Menor</p>
        </button>
        <button routerLink="/juegos/blackjack">
            <img src="../../../assets/juegos/blackjac.png" alt="">
            <p>Blackjack</p>
        </button>
    </div>

