<div class="ahorcado-contenedor">
    <div class="ahorcado-imagen">
      <img [src]="imagenAhorcado[errores]" alt="ahorcado imagen">
    </div>
    <div class="palabra-contenedor">
      <div *ngFor="let letra of palabra; let i = index" class="letras-contenedor">
        <p *ngIf="letrasSeleccionadas.includes(letra)">{{letra}}</p>
        <p *ngIf="!letrasSeleccionadas.includes(letra)">_</p>
      </div>
    </div>
    <div class="contenedor-letras">
      <button *ngFor="let letra of abecedario" [disabled]="letrasSeleccionadas.includes(letra) || mostrarMensajeFinal" (click)="intentarLetra(letra)" class="letras-botones">
        {{letra}}
      </button>
    </div>
    <div class="resultado-juego" *ngIf="mostrarMensajeFinal" [ngClass]="{'ganado': calcularVictoria(), 'perdio': calcularDerrota()}">
      <h2>{{ mensajeFinal }}</h2>
      <button (click)="nuevoJuego()">¿Jugar Otra Vez?</button>
    </div>
  </div>
  